<div class="col-md-4">
  <div class="card mb-4 shadow-sm sticky">
    <div class="card-header">
      <% if current_user && current_user.avatar.url.present? %>
          <%= image_tag current_user.avatar.url(:thumbnail), class: 'rounded-circle default-avatar mr-3' %>
      <% end %>
        Posted by <%= @listing.user.name %>
    </div>
    <div class="card-body">
      <h1 class="card-title pricing-card-title">
        <%= number_to_currency(@listing.price) %>
      </h1>
      <ul class="list-unstyled mt-3 mb-4">
        <p class="text-muted">What's included?</p>
        <li>
          <%= fa_icon "check-circle", text: "Unlimited downloads", class: 'mr-2 text-success' %>
        </li>
        <li>
          <%= fa_icon "check-circle", text: "Email Support", class: 'mr-2 text-success' %>
        </li>
        <li>
          <%= fa_icon "check-circle", text: "Future Updates", class: 'mr-2 text-success' %>
        </li>
        <li>
          <%= fa_icon "check-circle", text: "30 Day Guarentee", class: 'mr-2 text-success' %>
        </li>
      </ul>
      <%= render 'charges/form' %>
      
      <%- unless current_user.favorite_listings.exists?(id: @listing.id) -%>
      <%= link_to 'Add to Wishlist', favorite_listings_path(listing_id: @listing), method: :post, class: 'btn btn-primary' %>
      <%- else -%>
      <%= link_to 'Remove from Wishlist', favorite_listing_path(@listing), method: :delete, class: 'btn btn-danger' %>
      <%- end -%>

      <div class="text-center text-muted mt-3">
        <% if @listing.updated_at > @listing.created_at %>
        <%= "Updated " + time_ago_in_words(@listing.updated_at) + " ago" %>
        <% else %>
        <%= "Created " + time_ago_in_words(@listing.created_at) + " ago" %>
        <% end %>
      </div>
    </div>
  </div>
</div>