<div class="row">
  <div class="col-md-8">
    <div class="listing-image">
      <% if @listing.image.attached? %>
          <%= cl_image_tag(@listing.image.key, options = {class: 'img-fluid img-thumbnail'}) %>
      <% end %>
    </div>

    <hr>

    <h2 class="my-3">
      <%= @listing.title %>
    </h2>

    <p>
      <strong>Price:</strong>
      <%= number_to_currency(@listing.price) %>
    </p>

    <p>
      <strong>Subject:</strong>
      <%= @listing.subject %>
    </p>

    <p>
      <strong>Grade:</strong>
      <%= @listing.grade %>
    </p>

    <p>
      <strong>Type:</strong>
      <%= @listing.resource_type %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @listing.description %>
    </p>

    <div class="actions mb-5">
      <%= link_to 'Edit Listing', edit_listing_path(@listing), class: 'btn btn-primary mr-2' %>
      <%= link_to 'Delete Listing', @listing, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger mr-2' %>
      <%= link_to 'Back', root_path, class: 'btn btn-secondary ' %>
    </div>

    <hr>

    <%= render 'listings/related_listings' %>

    <hr>

    <%= render 'listings/comments' %>

  </div>

  <%= render 'listings/sidebar' %>

</div>

