<div class="row">
  <div class="col-md-8">
    <div class="listing-image">
      <% if @listing.image.attached? %>
          <%= cl_image_tag(@listing.image.key, options = {class: 'img-fluid img-thumbnail'}) %>
      <% end %>
    </div>

    <hr>

    <h2 class="my-3">
      <%= @listing.title %>
    </h2>

    <p>
      <strong>Description:</strong><br>
      <%= @listing.description %>
    </p>

    <hr>

    <div class="d-flex align-items-center my-3">
      <%= fa_icon 'chevron-circle-right', class: "mr-3 fa-2x text-success" %><span class="mr-2 font-weight-bold">Subject: </span>
      <%= @listing.subject %>
    </div>

    <div class="d-flex align-items-center my-3">
      <%= fa_icon 'chevron-circle-right', class: "mr-3 fa-2x text-success" %><span class="mr-2 font-weight-bold">Grade: </span>
      <%= @listing.grade %>
    </div>

    <div class="d-flex align-items-center my-3">
      <%= fa_icon 'chevron-circle-right', class: "mr-3 fa-2x text-success" %><span class="mr-2 font-weight-bold">Type: </span>
      <%= @listing.resource_type %>
    </div>

    <hr>

    <div class="actions my-3">
      <% if current_user && (@listing.user == current_user || current_user.superadmin_role) %>
        <%= link_to 'Edit Listing', edit_listing_path(@listing), class: 'btn btn-primary mr-2' %>
        <%= link_to 'Delete Listing', @listing, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger mr-2' %>
      <% end %>
      <%= link_to 'Back', root_path, class: 'btn btn-secondary ' %>
    </div>

    <hr>

    <%= render 'listings/related_listings' %>

    <hr>

    <%= render 'listings/comments' %>

  </div>

  <%= render 'listings/sidebar' %>

</div>

