
<h1><%= @user.name %></h1>

<h4 class="text-muted">My Listings</h4>
<div class="row">
  <% @listings.each do |listing| %>
  <div class="col-md-3">
      <div class="card mb-4 shadow-sm">
        <% if listing.image.attached? %>
            <%= cl_image_tag(listing.image.key, options = {class: 'img-fluid'}) %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= listing.title %></h5>
          <p class="card-text"><%= limit_characters_helper(listing.description, 100) %></p>
          <div class="d-flex align-items-center justify-content-between">
            <%= link_to 'View Listing', listing, class: "btn btn-success" %>
            <p class="lead m-0"><%= number_to_currency(listing.price) %></p>
          </div>
        </div>
      </div>
  </div>
  <% end %>
</div>

<h4 class="text-muted">Purchased Items</h4>
